*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}
.container{
    width: 100vw;
    height: 100vh;
    background: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: white;
    width: 300px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
